@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
}

.editor {
  background: #fff;
  padding: 8px;
  border: gray solid 2px;
  margin-top: 0px;
  margin-bottom: 5px;
  height: 400px;
  width: 400px;
}

.note-viewer{
  background: #fff3a0;
  padding: 8px;
  border: gray solid 2px;
  margin-top: 110px;
  margin-bottom: 5px;
  height: 400px;
  width: 400px;
}

.note-list{
  margin-top: 115px;
}

.note-list-entry{
  border: gray solid 2px;
  pading: 4px;
}